<div class="card">
	<div class="btn btn-primary newBlog"><%= link_to 'New Blog', new_blog_path %></div>

	<hr>

	<p>Are you invisible and you're gonna, like, fart on me? It's fine, everythings is fine. theres an infinite number of realities Morty, and in a few dozens of those i got lucky and turned everything back to normal.</p>

	<hr>

	<div class="btn-bar">
		<span class="sidebar-links">
			<a href="https://www.linkedin.com/in/kaden1227/" target="_blank"><%= fa_icon "linkedin" %></a>
		</span>
		<span class="sidebar-links">
			<a href="https://github.com/kadenjenson" target="_blank"><%= fa_icon "github" %></a>
		</span>
		<span class="sidebar-links">
			<a href="https://www.instagram.com/bagel17th/" target="_blank"><%= fa_icon "instagram" %></a>
		</span>
	</div>
</div>