<div class="col-md-4">
	<div class="parent-el">
		<div class="box">
			<%= image_tag portfolio.thumb_img, class: "bg" %>

			<div class="inner-box">
				<span class="top"></span>
				<span class="right"></span>
				<span class="bottom"></span>
				<span class="left"></span>

				<%= link_to portfolio.title, portfolio, class: "btn" %>
			</div>
		</div>
	</div>
</div>

