<%= render 'portfolio_header' %>

<%= link_to 'New Post', new_portfolio_path %>

<div class="portfolio-index">
	<div class="row">
		<%= render partial: 'portfolio', collection: @portfolios %>
	</div>
</div>