<div id="homepgHeader">
	<h1>KJ Development</h1>
</div>

<div class="container" id="languageBox">
	<div class="boxes">
			RUBY
	</div>

	<div class="boxes">
			RUBY
	</div>

	<div class="boxes">
			RUBY
	</div>

	<div class="boxes">
			RUBY
	</div>

	<div class="boxes">
			RUBY
	</div>

	<div class="boxes">
			RUBY
	</div>

	<div class="boxes">
			RUBY
	</div>

	<div class="boxes">
			RUBY
	</div>
</div>

<div id="missionStatement">
	<p>That, out there. That's my grave. On one of our adventures Rick and I basically destroyed the whole world. So we bailed on that reality and we came to this one. Because in this one the world wasn't destroyed. And in this one, we were dead. So we came here a-a-and we buried ourselves and we took their place. And every morning, Summer, I eat breakfast 2 God? God's turning people into insect monsters Beth. I'm the one beating them to death. Thank me. Meeseeks don't usually have to exist for this long. It's gettin' weeeiiird. Hi! Principal Vagina: the name's real, possibly Scandinavian.Well let me check my list of powers and weaknesses: ability to do anything, but only whenever I want. Yeah, that sounds like a job for me. Go home and drink, grandpa. Isn't it obvious Morty? I froze him. Your blood will be my lotion!</p>
</div>

<div class="container" id="aboutMe">
	<div class="jumbotron">
		<h1>Your friendly neighborhood Software Developer</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">
				
			</div>

			<div class="col-md-8">
				
			</div>
		</div>
	</div>
</div>



























