@import "bootstrap";
@import "font-awesome";
@import 'slick-theme';

@import 'mixins';
@import 'global';

#theNav {
	background-color: rgba(135, 135, 135, 0.80);
}

#theNav a {
	color: white;
	&:hover {
		color: LightGreen;
	}
}

#homepgHeader {
	@include centering {
		width: 100%;
		padding-top: 10%;
		padding-bottom: 10%;
		background: image-url('markus-spiske-507983-unsplash.jpg');
	  background-position: center;
	  border-bottom: 4px solid $kj-red;
	}
}

#languageBox {
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: auto;
}

.boxes {
	float: left;
	position: relative;
	width: 180px;
	height: 85px;
	text-align: center;
}

.boxes p {
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ruby {
	color: $kj-red;
}

.html {
	color: rgba(255, 139, 31, 1);
}

.css {
	color: rgba(67, 97, 234, 1);
}

#aboutMe {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	border: 5px solid black;
	background-color: LightGrey;
}

.profile-img {
	border-radius: 50%;
}

.aboutMe-icons {
	@include iconlinks
}

.aboutMe-icons a {
	color: rgba(219, 0, 0, 1);
}

.mastfoot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: LightGrey;
	text-align: center;
}























