@import "bootstrap";
@import "font-awesome";

/*
* MIXINS START
*/
@mixin centering {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin buttons {
	margin-right: 10px;
	a {
		color: white;
	}
}
/*
* MIXINS END
*/

html,
body {
	height: 100%;
}

#theNav {
	background-color: rgba(135, 135, 135, 0.80);
}

#theNav a {
	color: white;
	&:hover {
		color: LightGreen;
	}
}

.blogHeader {
	@include centering {
		width: 100%;
		padding-top: 10%;
		padding-bottom: 10%;
		background: image-url('blogBackground-domenico-loia.jpg');
		background-size: cover;
		background-position: center;
	}
}

h1 {
	@include centering {
		width: 700px;
		padding-bottom: 5px;
		background-color: rgba(219, 0, 0, 1);
		font-weight: bold;
		color: white;
	}
}

.newBlog {
	margin: auto;
	text-align: center;
}

.btn-primary {
	margin: 20px 0px 0px 0px;
}

.card {
	padding: 20px 40px 20px 40px;
	margin-top: 30px;
	margin-bottom: 30px;
}

p {
 	margin-bottom: 0px;
}

.btn {
 	@include buttons
}

.back a:hover {
 	text-decoration: none;
}

.edit a {
 	color: black;
 	&:hover {
 		color: orange;
 		text-decoration: none;
 	}
}

.delete a:hover {
 	text-decoration: none;
}

.showHeader {
 	display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
}

.mastfoot {
	position: absolute;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: LightGrey;
	text-align: center;
}



















