*,
*:before,
*:after {
	margin: 0px;
}

html,
body {
	height: 100%;
}

#aboutMe h1 {
	background-color: black;
}

h1 {
	@include centering {
		width: 700px;
		background-color: $kj-red;
		font-weight: bold;
		color: white;
	}
}

h2 {
	font-size: 40px;
	font-weight: bold;
	max-height: 48px;
}