*,
*:before,
*:after {
	margin: 0px;
}

html,
body {
	height: 100%;
	position: relative;
}

h1 {
	@include centering {
		font-weight: bold;
		color: white;
	}
}

h2 {
	font-size: 40px;
	font-weight: bold;
	max-height: 48px;
}